#image-omelette{
    border-radius: 50px;
    padding: 2%;
}

#bordona{
    padding: 27%;
    padding-top: 5%;
    background-color: rgb(245, 224, 207);
}

#conteudo{
    border: 20px solid white;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    line-height: normal;
}

#Titulo{
    text-transform: unset;
    padding-left: 50%;
    font-size: 52px;
    padding: 2%;
    flex-direction: column;
    margin: 10px;
}

#texto1{
    font-size: 20px;
    flex-direction: column;
    padding: 3%;
    line-height: normal;
    margin: -8px;
}

#titulopreparation{
    margin: 11px;
    font-size: 20px;
    color: rgb(126, 2, 2);
}

#preparation{
    background-color: rgb(250, 232, 232);
    border-radius: 20px;
    padding: 20px;
    margin: 2%; 
    font-size: 15px;

}

li{
    line-height: normal;
    margin: 10px;
    padding-left: 15px;
    
    
}

li::marker{
    color: rgb(160, 27, 27);
}

#tituloingredients{
    font-size: 30px ;
    margin: 2%;
    color: rgb(160, 27, 27);
    
}

#linha{
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
    margin: 6px;
    text-align: center;
}

#tituloinstructions{
    font-size: 30px;
    margin: 2%;
    color: rgb(160, 27, 27);
}

#Instructions{
    font-size: 15px;
}

#titulonutrition{
    font-size: 30px;
    margin: 2%;
    color: rgb(160, 27, 27);
}

#textonutrition{
    margin: 2%;
}

table {
    border-collapse: collapse;
    width: 300px;
    font-size: 15px;
}

td {
    padding: 8px;
    border: none;
}

#calories{
    padding-left: 52px;    
}

#calories2{
    padding-left: 258px;
    color: rgb(160, 27, 27);
    font-weight: bold;
    
}

#carbs{
    padding-left: 275px;
    color: rgb(160, 27, 27);
    font-weight: bold;
}

#protein{
    padding-left: 265px;
    color: rgb(160, 27, 27);
    font-weight: bold;
}

#fat{
    padding-left: 295px;
    color: rgb(160, 27, 27);
    font-weight: bold;
}